@CHARSET "UTF-8";
#contenido{
	width:700px;
	float:left;
}

#pestañas{
	width:100%;   /*definimos que el div pestañas ocupara todo el 
			ancho del contenido*/
	height:320px;   /*definimos la altura*/
	margin-top:30px;  /*añadimos margin de acuerdo a la plantilla*/
	background:#f1f1f1;    /*definimos color de fondo*/
	border:4px solid #d1d1d1;   /*añadimos borde al div pestañas*/
}

ul.tabs {           /*definiendo estilo para las pestañas*/
	margin:0;		/*eliminar bordes predeterminados de las listas*/
	padding:0;
	float:left;       /*pestañas flotando a la izquierda*/
	list-style:none;    /*quitamos viñetas a los listados*/
	height: 50px;     /*definimos altura a las pestañas*/
	border:none;     /*eliminamos el borde*/
	background:#d1d1d1;     /*añadimos color de fondo*/
	width:100%;     /*definimos que el listado ocupe el 100% de ancho
			del div pestañas*/
}

ul.tabs li {
	float:left;
	margin:0;
	height:48px;
	line-height:48px;
	border:none;
	overflow:hidden; /*Evitar el scroll en caso de que exista texto que exceda el tamaño*/
	position:relative;
}

ul.tabs li a {
	text-decoration:none;
	color:#464646;
	display:block;
	font-size:16px;
	padding:0 20px;
	border:none;
	font-weight:bolder;
}
ul.tabs li a:hover{
	background:#f36523;
	color:#fff;
}

/*Color de las clases cuando esten activas*/
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover{
	background:#f36523;
	color:#ffffff;
}

.tab_container {     /*definimos estilo a los contenedores de cada opcion de las pestañas*/
	border:none;
	overflow:hidden;
	clear:both;
	float:left;
	width:100%;
}
.tab_content{
	padding:20px;
	font-size:10pt;
}

/* Contenidos */
div.icono{
	width:156px;
	height:117px;
	background:url('../images/fondo_badmin.png') no-repeat transparent;
	text-align:center;
	float:left;
	margin:0 20px;
}
a.icono{
	text-decoration:none;
	color:#f1f1f1;
	font-weight:bolder;
}
a:hover.icono{
	color:#f36523;
}
div.icono img, div.icono p{
	padding:8px 15px 0 0;
	margin:0;
}