@CHARSET "UTF-8";
body{
 font: 10pt Helvetica, Geneva, Arial, sans-serif; /*Se define tamaño y familia*/
 background-color: #e5e5e5; /*color de fondo*/
 margin:0; /*margen exterior*/
 padding:0; /*espaciado interior*/
 text-align: center; /*sirve para centrar el contenedor en IE*/
}
#contenedor{
	text-align:left; /*alineamos todos los textos a la izquierda*/
	width:100%; /*definimos el ancho al 100%*/
	margin:auto; /*asi centramos el contenedor en Firefox, Chrome, etc.*/
}
#cabecera{
width:100%;
height:165px;
border-bottom: 2px solid white; /*Borde inferior*/
/* ***Aquí se define el degradado del fondo*** */
background: #252525; /* Navegadores viejos */
background: -moz-linear-gradient(top,  #252525 0%, #3f3f3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), 
			color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #252525 0%,#3f3f3f 100%);
			/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* IE10+ */
background: linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', 
			endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}

#navegacion{
	/*width:400px;   ***Modificamos el ancho */
	width:260px;
	float:left;
	margin: 0 60px 0 80px;   /*compensamos lo que restamos al ancho*/
	background-color: #d1d1d1;  /*asignamos color de fondo*/
	height: 100%;  /*definiendo la altura del nav*/
	border: 1px solid white;  /*agregando borde*/
}

html, body{
	height:100%;
}

#logo{
	float:left;  /*elemento flotante alineado a la izquierda*/
	margin-top:30px;  /*se definen el margen superior e izquierdo*/
	margin-left:100px; 
}

#herramientas{
	float:right;  /*elemento flotante alineado a la izquierda*/
	margin-top:60px;  /*se definen el margen superior e derecho*/
	margin-right:100px;
	text-align:right;  /*se alinean los textos a la derecha*/
	color:#e5e5e5;  /*se define el color del texto*/
}
    
.nombre_usuario{
	color:#00b8c7;  /*se define el color del texto*/
	font-weight:bolder;  /*se define el grosor de la fuente*/
}
.mensajes{
	background: url("../images/mail.png") no-repeat transparent;
		/*aquí se le define al h4 un fondo que será el icono de mail.png,
		se le indica que solo se mostrará una vez y no se repetira*/
	padding:5px 0 5px 35px;  /*se indica el espaciado interior*/
}
.configuracion{
	background: url("../images/config.png") no-repeat transparent;
	padding:5px 0 5px 25px;
}
.logout{
	background: url("../images/logout.png") no-repeat transparent;
	padding:5px 0 5px 25px;
}
#status a{
	color:#00b8c7;  /*se le da color a los links*/
}
#status a:hover{
	color:#e5e5e5;  /*se indica el color del link cuando este el cursos encima*/
}


.menu{
	margin:50px 0 0 0;  /*le agregamos un margen superior  al menu conforme al
				diseño previo*/
}
.menu h4 + div{   /*el signo de '+' es un selector adyacente, indicamos que
		aplicará el estilo al elemento despues del signo, siempre y cuando
		tenga el mismo elemento padre del elemento anterior al signo, 
		y se encuentre justo despues de este*/
	height:0;  /*no tiene altura, por lo tanto se encuentra oculto*/
	overflow: hidden;  /*especifica que el contenido se encuentra oculto*/
	transition: height 0.3s ease-in;  /*controla el cambio gradual entre
		un estilo y otro*/
	-webkit-transition: height 0.3s ease-in;  /*Safari y Chrome*/
	-moz-transition:  height 0.3s ease-in;  /*Mozilla Firefox*/
	-o-transition: height 0.3s ease-in;  /*Opera*/
	-ms-transition: height 0.3s ease-in;  /*IE10*/
}
.menu :target h4 + div{   /* :target permite seleccionar elementos que han
		sido usados como target dentro de la pagina, definidos por un id,
		haciendo clic sobre un ancla que apunte a dicho id para dirigirnos
		a este*/
	height:100px;  /*aumentamos la altura para hacer visible el contenido*/
}

.menu .seccion.larga:target h4 + div{
	height:160px;
}

.menu{
	margin:50px 0 0 0;
	background-color:#3d3d3d;  /* definimos color de fondo para el menú */
}
.menu a{
	color:#fff; /*color de los links*/
	text-decoration:none;  /*quitamos el estilo subrayado por default*/
}
.menu a:hover{  /*color de los links al estar el cursos encima*/
	color:#e5e5e5;
}
h4{  /*estilo para los titulos*/
	margin:0;
	border-top:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}

.s_admin{
	background:url(../images/admin.png) no-repeat 5px #00a2b7;
			/*agregamos la imagen de fondo, que no se repita,
			y definimos el azul para el fondo*/
	text-align:right;
	padding: 20px 10px 20px 0;
	font-size:14px;
}
.s_perfil{
	background:url(../images/perfil.png) no-repeat 5px #00a2b7;
	text-align:right;
	padding: 20px 10px 20px 0;
	font-size:14px;
}
.s_popularidad{
	background:url(../images/popularidad.png) no-repeat 5px #00a2b7;
	text-align:right;
	padding: 20px 10px 20px 0;
	font-size:14px;
}

.menu ul{
	margin:0;   /*Quitamos margenes a los manús*/
	padding:0;
}
.menu li{
	list-style:none;  /*quitamos el estilo a las listas*/
	padding:8px 10px 8px 25px;
}
.menu li:hover{
	background-color:#4e4e4e;
			/*definimos color del link cuando el cursos este encima*/
}

#contenido{
	width:700px;
	float:left;
}

#pestañas{
	width:100%;   /*definimos que el div pestañas ocupara todo el 
			ancho del contenido*/
	height:320px;   /*definimos la altura*/
	margin-top:30px;  /*añadimos margin de acuerdo a la plantilla*/
	background:#f1f1f1;    /*definimos color de fondo*/
	border:4px solid #d1d1d1;   /*añadimos borde al div pestañas*/
}

ul.tabs {           /*definiendo estilo para las pestañas*/
	margin:0;		/*eliminar bordes predeterminados de las listas*/
	padding:0;
	float:left;       /*pestañas flotando a la izquierda*/
	list-style:none;    /*quitamos viñetas a los listados*/
	height: 50px;     /*definimos altura a las pestañas*/
	border:none;     /*eliminamos el borde*/
	background:#d1d1d1;     /*añadimos color de fondo*/
	width:100%;     /*definimos que el listado ocupe el 100% de ancho
			del div pestañas*/
}

ul.tabs li {
	float:left;
	margin:0;
	height:48px;
	line-height:48px;
	border:none;
	overflow:hidden; /*Evitar el scroll en caso de que exista texto que exceda el tamaño*/
	position:relative;
}

ul.tabs li a {
	text-decoration:none;
	color:#464646;
	display:block;
	font-size:16px;
	padding:0 20px;
	border:none;
	font-weight:bolder;
}
ul.tabs li a:hover{
	background:#f36523;
	color:#fff;
}

/*Color de las clases cuando esten activas*/
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover{
	background:#f36523;
	color:#ffffff;
}

.tab_container {     /*definimos estilo a los contenedores de cada opcion de las pestañas*/
	border:none;
	overflow:hidden;
	clear:both;
	float:left;
	width:100%;
}
.tab_content{
	padding:20px;
	font-size:10pt;
}

/* Contenidos */
div.icono{
	width:156px;
	height:117px;
	background:url('../images/fondo_badmin.png') no-repeat transparent;
	text-align:center;
	float:left;
	margin:0 20px;
}
a.icono{
	text-decoration:none;
	color:#f1f1f1;
	font-weight:bolder;
}
a:hover.icono{
	color:#f36523;
}
div.icono img, div.icono p{
	padding:8px 15px 0 0;
	margin:0;
}

#modulos{
	margin-top:30px;       /*definiendo margen superior*/
}
.modulo{
	width:200px;      /*definiendo ancho y alto de los modulos*/
	height:200px;
	float:left;
	margin-right:20px;
	padding: 30px 5px 5px 5px;
	color:#f1f1f1;
}
#twitter{
	background:url('../images/twitter.png') no-repeat top right #464646;
}
#calendario{
	background:url('../images/calendario.png') no-repeat top right #464646;
}
#noticias{
	background:url('../images/noticias.png') no-repeat top right #464646;
}