@CHARSET "UTF-8";
body{
 font: 10pt Helvetica, Geneva, Arial, sans-serif; /*Se define tamaño y familia*/
 background-color: #e5e5e5; /*color de fondo*/
 margin:0; /*margen exterior*/
 padding:0; /*espaciado interior*/
 text-align: center; /*sirve para centrar el contenedor en IE*/
}
#contenedor{
	text-align:left; /*alineamos todos los textos a la izquierda*/
	width:100%; /*definimos el ancho al 100%*/
	margin:auto; /*asi centramos el contenedor en Firefox, Chrome, etc.*/
}
#cabecera{
width:100%;
height:165px;
border-bottom: 2px solid white; /*Borde inferior*/
/* ***Aquí se define el degradado del fondo*** */
background: #252525; /* Navegadores viejos */
background: -moz-linear-gradient(top,  #252525 0%, #3f3f3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), 
			color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #252525 0%,#3f3f3f 100%);
			/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* IE10+ */
background: linear-gradient(top,  #252525 0%,#3f3f3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', 
			endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */
}

#navegacion{
	/*width:400px;   ***Modificamos el ancho */
	width:260px;
	float:left;
	margin: 0 60px 0 80px;   /*compensamos lo que restamos al ancho*/
	background-color: #d1d1d1;  /*asignamos color de fondo*/
	height: 100%;  /*definiendo la altura del nav*/
	border: 1px solid white;  /*agregando borde*/
}

html, body{
	height:100%;
}

#logo{
	float:left;  /*elemento flotante alineado a la izquierda*/
	margin-top:30px;  /*se definen el margen superior e izquierdo*/
	margin-left:100px; 
}

#herramientas{
	float:right;  /*elemento flotante alineado a la izquierda*/
	margin-top:60px;  /*se definen el margen superior e derecho*/
	margin-right:100px;
	text-align:right;  /*se alinean los textos a la derecha*/
	color:#e5e5e5;  /*se define el color del texto*/
}
    
.nombre_usuario{
	color:#00b8c7;  /*se define el color del texto*/
	font-weight:bolder;  /*se define el grosor de la fuente*/
}
.mensajes{
	background: url("../images/mail.png") no-repeat transparent;
		/*aquí se le define al h4 un fondo que será el icono de mail.png,
		se le indica que solo se mostrará una vez y no se repetira*/
	padding:5px 0 5px 35px;  /*se indica el espaciado interior*/
}
.configuracion{
	background: url("../images/config.png") no-repeat transparent;
	padding:5px 0 5px 25px;
}
.logout{
	background: url("../images/logout.png") no-repeat transparent;
	padding:5px 0 5px 25px;
}
#status a{
	color:#00b8c7;  /*se le da color a los links*/
}
#status a:hover{
	color:#e5e5e5;  /*se indica el color del link cuando este el cursos encima*/
}